{% extends 'web/base.html'%}
{% load static %}


{% block content%}
<link rel="stylesheet" href="{% static 'css/imp.css' %}"> 
<br>
<div class="container">
    <div class="jumbotron">
    <h1>Design Studio</h1>
    <hr>
    <p>Our well equipped design studio is the place, where the diffusion of lines, colour, curves and points takes a meaningful creative direction and when the technical and commercial aspects are coupled with them, a unique creation comes into existence.</p>
    <p>Our well trained designers have the ability to turn the whimsical inputs of the customers into consumable textile designs keeping in view the ongoing trends and the end use of the design as apparel, upholstery or the bed linens. <strong>Natasha Textiles</strong> not just provide the designing facility by offering own designed, especially tailored for the different markets but we can alter and customize the design according to the desire of our customers.</p>
</div>
</div>

{% endblock%}