{% extends 'web/base.html' %}
{% load static %}


{% block content%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">


<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h2 style="text-align: center;">We warmly welcome you on the official site of <strong>Natasha Textiles</strong>.</h2>
      <hr class="my-4">
      <p style="text-align: center;"><strong>Natasha Textiles</strong> is your single source for the procurement of a wide range of textiles covering <strong>Grey Fabric, Finished Fabric </strong>and <strong>Made-ups</strong> to big groups in <strong>Australia</strong>, <strong>New Zealand</strong>, <strong>USA</strong> and all over the <strong>Europe.</strong></p>
      <p style="text-align: center;">Emerged as a pool of professionals in textile sector, <strong>Natasha Textiles</strong> is one of the radically progressive company in the sense of the textile sector of Pakistan. The philosophy behind the formation of this organization is to form a purely customer oriented organization which would work on the mutually beneficial customer supplier dynamics.</p>
      <p style="text-align: center;">Keeping the continual improvement as our hallmark our team is all geared up to provide our customers the utmost satisfaction and to cater all their expectations with respect to product specification and logistics.</p>
      <p style="text-align: center;">It is our commitment to provide you with the best possible service and render the complete peace of mind while dealing with <strong>Natasha Textiles</strong>.</p>
      <p style="text-align: center;">If you have any query please do not hesitate to contact us.<br />
      we will be more than happy to furnish it to you.</p>
      <p style="text-align: center;">looking foward from hearing you soon<br />
      and special thanks for visiting us<br />
      Natasha Textiles.<strong>Team<br />
      </strong></p>
    </div>
</div>


{% endblock%}
