{% extends 'web/base.html'%}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/products.css'%}">

<body>
    <div class="container">
        <div class="jumbotron">
            <h2>:: Made-Ups ::</h2>
        <p>Our units are segregated with the idea of specialization in product range to deliver quality products to the
            customers. Our product range comprises of:</p>
        <table>
            <tbody>
                <tr>
                    <td><strong>Home Textile Products</strong></td>
                    <td><strong>Hospitality Products &amp;</strong></td>
                    <td><strong>Commercials Products</strong></td>
                </tr>
                <tr>
                    <td>Bed Sheet</td>
                    <td>Bed Sheet</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Flat Sheet</td>
                    <td>Flat Sheet</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fitted Sheet</td>
                    <td>Fitted Sheet</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Quilt Cover</td>
                    <td>Towels</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Bed Spread</td>
                    <td>Blanket</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pillow Cover</td>
                    <td>Bath Rope</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cushion Cover</td>
                    <td>Mats</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Furnishing</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td><strong>Suite</strong></td>
                </tr>
                <tr>
                    <td>Theatre Suite</td>
                </tr>
                <tr>
                    <td>Patient Suite</td>
                </tr>
                <tr>
                    <td>Gowns</td>
                </tr>
                <tr>
                    <td>Warming Jackets</td>
                </tr>
                <tr>
                    <td>Drapes</td>
                </tr>
                <tr>
                    <td>Laundry Bags</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <p>Fenestrated sheets</p>
        <hr>
        <h2>Grey Fabric</h2>
        <p><strong>:: GreyFabric ::</strong></p>
        <p>Our Products consist of commercial and hospitality linen, home furnishing and apparel fabric (narrow to wider
            width), 100% cotton and poly cotton (all blend ratios), plain and different weaves, (Twills, drills, satins,
            dobbies, jacqard) grey, bleach, dyed and printed cloth (Pigment &amp; Reactive).</p>
        <p><strong><em>RUNNING QUALITIES </em></strong></p>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td></td>
                    <td><strong>Construction</strong></td>
                    <td><strong>Blend</strong></td>
                    <td><strong>Width</strong></td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>20&#215;20/70&#215;60</td>
                    <td>(PC:52:48)</td>
                    <td>77&#8243;</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>30&#215;30/76&#215;56</td>
                    <td>PC(52:48) &amp; 100% Cotton</td>
                    <td>118&#8243;</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>30&#215;30/76&#215;56</td>
                    <td>PC(52:48) &amp; 100&amp; Cotton</td>
                    <td>63&#8243; x 75&#8243;</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>40&#215;40/100&#215;80</td>
                    <td>PC(52:48)</td>
                    <td>110&#8243; X 114&#8243;</td>
                </tr>
                <tr>
                    <td>E</td>
                    <td>20&#215;20/60&#215;60</td>
                    <td>100% Cotton</td>
                    <td>63&#8243; &amp; 112&#8243;</td>
                </tr>
                <tr>
                    <td>F</td>
                    <td>30&#215;30/60&#215;60</td>
                    <td>PC(52:48)</td>
                    <td>112&#8243;</td>
                </tr>
                <tr>
                    <td>G</td>
                    <td>20&#215;20/108&#215;58</td>
                    <td>100% Cotton</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>H</td>
                    <td>20&#215;16/128&#215;60</td>
                    <td>100% Cotton</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>I</td>
                    <td>16&#215;12/108&#215;58</td>
                    <td>100% Cotton</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>J</td>
                    <td>40&#215;40/130&#215;70</td>
                    <td>100% Cotton</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>K</td>
                    <td>40&#215;40/110&#215;90</td>
                    <td>100% Cotton</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>40&#215;40/110&#215;90</td>
                    <td>100% Cotton</td>
                    <td>110&#8243;</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>16&#215;10/108&#215;58</td>
                    <td>100% Cotton</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>N</td>
                    <td>7&#215;7/68&#215;38</td>
                    <td>100% Cotton</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>O</td>
                    <td>7&#215;6/68&#215;38</td>
                    <td>100% Cotton</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>P</td>
                    <td>10&#215;7/76&#215;42</td>
                    <td>100% Cotton</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>Q</td>
                    <td>20&#215;20/64&#215;58</td>
                    <td>CVC 75:48</td>
                    <td>118&#8243;</td>
                </tr>
                <tr>
                    <td>R</td>
                    <td>24&#215;16/96&#215;48</td>
                    <td>PC (52:48)</td>
                    <td>118&#8243;</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>30&#215;30/100&#215;70</td>
                    <td>PC (52:48)</td>
                    <td>118&#8243;</td>
                </tr>
                <tr>
                    <td>T</td>
                    <td>16&#215;16/60&#215;60</td>
                    <td>PC (52:48)</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>U</td>
                    <td>300&#215;300/60&#215;56</td>
                    <td>100% Polyester</td>
                    <td>63&#8243;</td>
                </tr>
                <tr>
                    <td>V</td>
                    <td>21&#215;10/40&#215;42</td>
                    <td>100% Cotton Flannel</td>
                    <td>114”</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>:: Towels-Ups ::</h2>
        <p>A wide range of towels used for hotel business and home textiles.<br /></p>
        <hr>
        <h2>:: Cellular Blankets ::</h2>
        <p>A strongly weaved white and coloured cellular blankets for hospital and nursing homes.<br />
        </p>
        <hr>
        <h2>:: Embroidered And Handwork Bed spreads and Sheets ::</h2>
        <p>As the company has got their own embroidered machinery, therefore, we have a unique exciting range of
            embroidered and other cutwork design range of our products.</p>
        <hr>
    </div>
    </div>
</body>

{% endblock%}