{% extends 'web/base.html'%}
{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static 'css/imp.css' %}"> 

<div class="container">
    <div class="jumbotron">
    <h1>Quality Standards</h1>
    <hr>
    <div class="quality">
        <p>Quality, as we understand is &#8220;Conformance to the expectation of our Customer&#8221;. The main focus of
            the Natasha Textiles (Pvt.) Ltd. Is customer, therefore our production capability, technical know how and
            the entire efforts are concentrated on providing the right quality product in right time in right manners.
        </p>
        <p>To achieve this level we measure and monitor our raw material and exercise a strict control over the
            suppliers and the supplies. Our state of the art machinery is operated by well qualified and experienced
            staff and the quality control section keeps a close cross check at all the levels of product realization.
        </p>
        <p>our aims are a lot higher and we believe in solid improvements and the enhancement of customers satisfaction
            till it reaches to the level of delight or above. We are heading towards lean manufacturing and the total
            quality management.</p>
    </div>
</div>
</div>

    {% endblock%}